.navBar{
    display: flex;
    justify-content: space-around;
    font-size: 17px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.707);
    position: sticky;  
    top: 0;         
}
nav a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
.nav-items{
    padding-top: 20px;
}
.nav-items a{
    padding-left: 16px;
}
.join{
    margin-top: 6px;
    width: 150px;
    height: 40px;
    padding: 10px;
    background-color: blue;
}
.header{
    height: 700px;
}
.text-header{
    width: 1503px;
    height: 701px;
    padding: 200px 0 245px;
    background-color: #48a6a7;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
   /* background-color:  rgba(0, 102, 255, 0.766);
   background-image: url('https://i.pinimg.com/736x/a0/d7/bd/a0d7bd9e92dfc31fde25da1ae0c8e8bd.jpg');
   background-size: cover; */   
   color: white;
   font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.header form{
    width: 500px;
    height: 60px;
}
.header-form input[type="text"]{
    width: 300px;
    padding: 22px;
    border: none;
}
.header-form input[type="button"]{
    width: 125px;
    height: 60px;
    border:none;
    background-color: brown;
    color: white;
}
.page1{
    width: 1503px;
    height: 617px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: azure;
}
/* .page-img{
    width: 460px;
    height: 460px;
} */
.page1-matter{
    width: 550px;
    height: 467px;
    font-size: 16px;
    line-height: 20px;
}
.page1-flex{
    display: flex;
    width: 550px;
}
.items{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}


.page2{
    display: flex;
    justify-content: space-evenly;
    height: 716px;
    padding: 100px;
    background-color: #4bd1cf;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");

}
.page2-context{
    width: 650px;
}
.page2 span{
    color: red;
}
.page2 h1{
    font-size: 50px;
}
.page2 p{
    color: grey;
    line-height: 25px;
}
.page2-items{
    display: flex;
    justify-content: space-between;
    width: 650px;
    padding: 5px;
}

.item1{
    background-color: green;
}
.item2{
    background-color: darkblue;
}
.item3{
    background-color: red;
}
.item4{
    background-color: yellow;
}


.page3{
    width: 1503px;
    height: 834px;
}
.page3-images{
    padding-top: 100px;
    display: flex;
}
.page3-img{
    width: 400px;
    height: 480px;
    position: relative;
}
.page3-img div{
    position: absolute;
    bottom: 0px; 
        color: white;
        font-size: 18px;
        text-align: center;

}
.page3-text span{
    color: red;
    font-size: 20px;
    text-align: center;
}
.page3-text nav{
    font-size: 50px;
}
.page3-text{
    text-align: center;
    padding-top: 100px;
}
.page4{
    height: 500px;
    background-color: #6f777a;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
padding: 100px;
color: white;
}
.page4-form input[type="text"],input[type="email"],select{
    height: 50px;
    width: 250px;
    margin: 10px;
    background-color: lightblue;
    border:none;
}
.page4-form input[type='button']{
    height: 50px;
width: 250px;
margin: 10px;
background-color: brown;
color: white;
border:none;
}

.img-matter{
    background-color: lightblue;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}
.page4-content{
    text-align: center;
}
.page5{
    width: 1503px;
    height: 693px;

}
.page5-text{
    padding: 25px;
    text-align: center;
}
.page5-sec{
    padding: 25px 150px;
    display: flex;
    justify-content: space-evenly;

}
.page6{
    height: 625px;
    width:100%;
    padding: 100px;
    display: flex;
    justify-content: space-around;
}
.page6-1{
    height: 200px;
   background-color: lightblue;
   padding: 50px;
}
.page6-icon{
    font-size: 2rem;
    color: white;
}
nav span{
    font-size: 1rem;
    font-weight: bold;
}
nav p{
    color: grey;
    font-style: italic;
    font-weight: bold;
}
.nav-icon{
    width: 60px;
    height: 40px;
    padding: 10px;
}
.loc{
    display: flex;
    gap: 2rem;
    margin-bottom: 10px;
}

.text-email, .text-name{
    width: 125px;
   
}
.text-email{
    margin-left: 20px;
}
.page6-form input{
    border: none;
    border-bottom: 1px solid grey;
    font-size: 15px;
    background-color: none;
    margin-top: 20px;
    width: 250px;
}
.page6-btn{
    width: 200px;
    height: 64px;
    margin-top: 50px;
    padding: 7px;
    background-color: aqua;
    border: none;
}
.form-flex{
    display: flex;
}
footer{
    margin-top: 60px;
    height: 498px;
    padding: 100px 0 0;
    background-color: black;
    color: white;
}
.footer1,.footer2{
    display: flex;
    justify-content: space-around;
}
.foot-input{
    height: 50px;
    width: 250px;
    margin: 10px;
    background-color:white;
    border:none;
    margin-left: -12px;
}
.foot-head{
    font-size: 30px;
    color: yellow;
}
.foot-head:hover{
    color: green;
}
.btn{
    background-color: blue;
    color: white;
    font-weight: bold;
}
.foot-items ul li{
    padding: 10px;
}
.foot-items ul li i{
    padding-right: 10px;
}
.icon-items i{
    padding-right: 10px;
    font-size: 20px;
}